.menu-dialog
  button,.btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle
    background:transparent;
    padding: 0;
    border:0;
    &:focus, &:hover, &:active
      box-shadow:none !important;
      outline:0;
      background:transparent;
      padding: 0;
      border:0;

  .menu-mask
    background-color:rgba(#1F1F1F, .9);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0
    z-index: 20;
  .menu
    padding:7.1vw 3.1vw;
    height: calc(100% - 16vw);
    width:100%;
    max-width:100%;
    position: fixed;
    top: 16vw;
    z-index: 100;
    left: 0;
    overflow:auto;
    text-align:center;
    li
      padding: 5vw 3vw;
      border-bottom: 0.4vw solid #768aab;
      font-size: 5vw;
      width: 69vw;
      &:last-child
        border-bottom:0;
      margin: 0 auto;
      a
        color: #fff !important;

    &-close
      text-align: right;
      position:absolute;
      right: -3.34vw;
      img
        width 2vw;
